@font-face {
	font-family: calibri;
	src: url(../FONT/Calibri.ttf);
}
:root{
	--celesebb:#89CFF0;
	--azulmarino: #000080 ;
}
*{

	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: calibri;
}
html{
	scroll-behavior: smooth;
}

/*header*/
body{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(6, auto);
   
	grid-template-areas: 	"header header header header"
							"main main main main"
							"footer footer footer footer"
							 ;
}

.header{
	grid-area: header;
	height: 70vh;
	max-height: 660px;	
	color: rgb(10, 10, 10);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.315);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/mujerestres.jpeg);
	background-size: cover;
	background-position: center;

}

/*container*/

.container{
	max-width: 1077px;
	margin: auto;
	padding: 0 10px;
}

/*estilos nav*/
.link{
	border-bottom: 2px solid #000;
}

.nav__fixed{
	position: fixed;
	width: 100%;
	z-index: 2;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.178);
}

.nav__flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}	

.nav__top{
	background-color: var(--celesebb);
	padding: 5px;
}
	.redes_t > a{
		color: white;
		font-size: 1rem;
		padding-right: 1em;
	}

	.nav__iconphone{
		padding:3px 0px;
		border-radius: 5px;
		color: #fff;
		font-size: 1rem;
		display: flex;
		gap: 20px;
		align-items: center;
	}




.nav__botton{
	background-color: #fff;
	
}	

	.nav__flex--botton{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;		
	}
	.nav_index{
		display: flex;
	
	}

	.nav_index a{
		color: #000;
		margin-left: 3em;
		padding: 7px 0;
		font-size: 1rem;
	}

	.nav_index a:hover {
		border-bottom: 2px solid #000 ;
	}
	.logo{
		width: 200px;
		height: 70px;
	}
	.logo__img{
		width: 100%;
		height: 100%;
	}
	


/*barra hamburguesa*/

/*bothom hover login*/



.button {
	font-size: 1rem;
	color: #fff;
	background: #e72626;
	border: none;
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 4px 10px ;
	border-radius: 50px;
	z-index: 1;

	}



.button:hover, .button:focus {
  color: #fff;
  box-shadow: 0px 4px 10px red;

}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; 
  height: 30px;
  border-radius: 100%;
  border: 2px solid #e72626;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}



/*barra hamburguesa*/

.hamburguesa__resposive{
	display: none;
}
/*header content*/

.content_center{
	height: 100%;
	position: relative;
	font-size: 2rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding-top: 100px;
}

	.center_left h1{
		margin: 0;
		color: #fff;
	}
	.center_left span{
		color: var(--celesebb);
	}
	.center_left p {
		text-align: center;

	}

	.center_rigth h2{
			width: 100%;
			animation: typing 5s steps(19),blink .5s step-end infinite alternate;
			white-space: nowrap;
			overflow: hidden;
			border-right: 3px solid rgb(250, 250, 250);
			font-size: 1.2em;
		}

		@keyframes typing {
			from{
				width: 0;
			}
		}
		
		@keyframes blink {
			50%{
				border-color: transparent;
			}
		}

	.content_button {
		padding: 0.5em 1.3em;
		border: none;
		background-color: var(--azulmarino);
		color: white;
		border-radius: 50px;
		transition: all .4s;
		font-size: 1.1rem;
		margin-top: 10px;
		
	}
	.content_button:hover{
		background-color: var(--celesebb);
		color: white;
	}

/*main*/


.main{
	grid-area: main;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: 	"s s s s"
							"ss ss ss ss"
							"sss sss sss sss"
							"cm cm cm cm"
							 ;
	font-size: 1.1em;
}

.main h2{
	font-size: 2rem;
	color: var(--azulmarino);
}
/*section_one*/

.section_one{
	grid-area: s;
	margin: 100px 0;
	background-color: rgb(241, 241, 241);
	padding: 40px;
}
.soat__flex{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.soat__span{
	color:#cf0202;
	font-weight: bold;
}
.soat__listas{
	color: rgb(97, 97, 97);
}
.soat__listas li span{
	color: #000080;
	font-weight: bold;
	line-height: 150%;
}


/*section two*/



/*sectio three*/

.section__three{
	grid-area: sss;
}
.table__flex{
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(73, 73, 73);
}
.table__flex th{
	border: 1px solid ;
	padding: 20px;
	background-color: var(--celesebb);
}
.table__flex td{
	border: 1px solid ;
	padding: 20px;
	background-color: #ffffff;
}
/*slider section three*/


.slider{
	overflow: hidden;
   }
   .slider ul{
	padding: 0;
	display: flex;
	gap: 10px;
	width:200%;

  
	animation: cambio 20s infinite alternate;
   }
   
   .slider li{
	width: 500px;
	height: 400px;
	list-style: none;
   }
  
   .slider img{
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: .6s;
	border-radius: 6px;
	object-fit:fill;
   }

   .slider img:hover{
	transform: scale(1.02);
   }
  
   @keyframes cambio {
	  0% { margin-left: -0%;}
	  10%{	margin-left: -0%;}
	  20% { margin-left: -50%;}
  
	  25% { margin-left: -55%;}
	  45% { margin-left: -70%;}
  
	  50% { margin-left: -75%;}
	  70% { margin-left: -90%;}
  
	  75% { margin-left: -95%;}
	  100% { margin-left: -100%;}
   }

.section__four{
	grid-area: cm;
	height: 200px;
	margin-bottom: -20px;
	border: 1px solid red;
}

/*footer*/

.path{
	margin-bottom: -20px;
	border: none;
}
.footer{
	grid-area: footer;
	background-color: var(--celesebb);
	color: #FBFBFF;
}

.footer__flex{
	display: flex;
	text-align: center;
	justify-content:space-between;
	font-size: 1rem;
	margin-bottom: 20px;
	gap:100px;	
}

.conoce,.logo__footer,.contactanos{
	width: 100%;
}
.conoce__titulo,.contactanos__titulo{
	margin-bottom: 20px;
}



.conoce__flex{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	gap: 5px;
}
	.conoce__flex >a{
		color: #fff;
		padding-bottom: 2px;
	}
	.conoce__flex>a:hover{
		color: rgb(241, 241, 241);
		text-decoration: underline;
	}

.logo{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo__redes a{
	color: #fff;
	font-size: 1.2rem;
	margin-left: 10px;
}
.logo__redes a:hover{
	color: rgb(241, 241, 241);
	text-decoration: underline;
}






.contactanos__flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap:5px;
}
	.contactanos__flex>a{
		color: #fff;
		padding-bottom: 2px;
		transition: .2s;
	}
	.contactanos__flex>a:hover{
		color: rgb(241, 241, 241);
		text-decoration: underline;
	}

	.copy h4{
		border-top: 1px solid;
		padding: 10px;
		text-align: center;
	}



/*resposive*/

.icon-bars{
	color: white;
	font-size: 2em;
	margin-top: 6px;
}



/*menu hamburguesa*/
@media screen and (max-width:1024px) {
	.content__flex{
		display: flex;
		flex-direction: column;
	}
	.form__flex{
		gap:10px;
	}
	

    .menu{
        display: flex;
        height: auto;
        position: static; 
        width: auto;
    }
	
	
	.icon-bars{
		display: block;
		color: white;
		width: 40px;
		height: 40px;
		line-height: 42px;
		text-align: center;
		cursor: pointer;
		font-size: 1.5em;
	} 
	
	.flex_btn{
		flex-direction: column;
		align-items: flex-start;
		font-size:1.3rem;
		margin-top: 0;
	}
	
	.nav_index{
		flex-direction: column;
		align-items: flex-start;
		margin-left: -40px;
		gap: 20px;
	}
	

	.nav__botton	{
		display: flex;
		padding-right: 100%;
		position: absolute;
		width: 100%;
		background: rgb(255, 255, 255);
		list-style: none;
		height: 0;
		overflow: hidden;
		transition: height .2s linear;
		
		
	}
	

	.mostrar{
		height: 40vh;
		border:1px solid;
		border-radius: 0px 0 10px 10px;
	}
	.hamburguesa__resposive{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hamburguesa__resposive img{
		width: 150px;
	}
	
	.wrap{
		display: none;
	}
	.logo__img{
		display: none;
	}

	
	
/*content center*/


	.header{
		height: 100vh;
	}

	.content_center{
		align-items: center;
		flex-direction: column;
		font-size: 1.8rem;
	}

	.center_left{
		text-align: center;
	}
	.center_left p{		
		text-align: center;
	}

	.center_rigth{
		display: flex;
		flex-direction: column;
		margin:auto;
	}


	.content_button{
		background-color: var(--celesebb);
		color: white;
		border: 10px;
		width: 200px;
		margin: auto;
		margin-top: 20px;

	}
	.content_button:hover{
		background-color: var(--azulmarino);
	}


	.typing h2{
		width: 100%;
		animation: typing 5s steps(19),blink .5s step-end infinite alternate;
		white-space: nowrap;
		overflow: hidden;
		border-right: 3px solid rgb(250, 250, 250);
		font-size: 1.2em;
	}
	@keyframes typing {
		from{
			width: 0;
		}
	}
	
	@keyframes blink {
		50%{
			border-color: transparent;
		}
	}
/*mision vision*/

.proposito{
	flex-direction: column;
	gap: 20px;
}
.proposito__listas{
	padding-bottom: 20px;
}
.proposito__mision{
	border-radius: 5px;
}
.proposito__vision{
	border-radius: 5px ;
}









	/*footer*/
	.footer__flex{
		flex-direction: column;
		gap: 20px;
		padding: 20px;
	}
	.conoce__titulo,.contactanos__titulo{
		font-size: 1.2rem;
	}
	.logo__footer img{
		display:none ;
	}
	.logo{
		display: inline-block;
		margin: auto;
	}

	/*slider*/

	.slider ul {
		width: 100;
	}
	.slider__img{
		width: 900px;
	}


}
.modal__flex{

	padding: 20px;
	box-shadow: 0 10px 5px #0000003a;
	border-radius: 10px;
	z-index: 2;
	margin: auto;
	border:1px solid;
	width: 100%;
	max-width: 500px;

}
.modal__img{
	margin:auto ;
}
.modal__flex span{
	text-align: center;
	font-size: 1.2rem;
	cursor: pointer;
}
.modal__flex h2{
	text-align: center;
	margin-bottom: 20px;
}
.content__flex{
	display: flex;
	gap: 40px;
}
.form__flex{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form__flex input{
	border: none;
	border-bottom: 1px solid #000;
	padding: 10px;
	transition: .3s all;
}
.form__flex input:focus{
	border-bottom: 1px solid red;
}
.form__button{
	margin-top: 5px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	transition: all .3s;
}
.form__button:hover{
	background-color: rgb(231, 0, 0);
	transform: scale(1.02);
}
.modal__flex::backdrop {
	background: rgba(0, 0, 0, 0.3);
  }
/*resposive*/

@media screen and (max-width:300px) {
	.content_center{
		font-size: 1rem;
		text-align: center;
	}
	

	.nav__flex{
		font-size: 0.1rem;
	}

}
  




















































